/* General Blueprint Style */
@import url(http://fonts.googleapis.com/css?family=Raleway);
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
    font-family: 'Raleway';
    color: #1e76a8;
    background: #64a7cd;
    font-weight: 300;
}

a {
	color: #f0f0f0;
	text-decoration: none;
	outline: none;
}

a:hover {
	color: #000;
}


.box
{
    background: #FFF59D;
    margin-bottom: 2em;
    box-shadow: 2px 3px 15px  2px black;
}
.box h1
{
    
    
    
    background: #d15e5e;
    color: white;
    padding: .5em;
    text-align: right;
    font-size: 3em;
    font-weight: bold;
    box-shadow: 2px 2px 5px black;
}

.intro h2
{
    
    width: auto;
    background: #fae679;
    color:  #D32F2F;
    padding: .5em;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
    overflow: hidden;
    box-shadow: 0px 10px 15px -10px black ;
}
.intro h1
{
    margin: 1em;
    text-align: center;
    background: #3d6277;
    color: #ffee94;
    padding: .2em;
    font-size: 4em;
    box-shadow: 3px 6px 15px -2px black;
    
}
.intro p
{
    display: inline-block;
    font-size: 1.4em;
    color: #ffe765;
    padding: .8em;
    margin: .5em;
    box-shadow: 2px 6px 10px black;
    margin-left: -.7em;
}

.intro p:nth-of-type(2n+1) { background: #558b95;}
.intro p:nth-of-type(2n) { background: teal;;}

.intro{
margin: 3em;
    border: none;
    padding-bottom: 2em;
}



